<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add event</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center mb-4">Add new event</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <!--<label for="title" class="form-lable">Title</label>
                    <input id="title" maxlength="30" name="title" required type="text" value="" class="form-control">-->
                    {{ form.title.label(class="form-label") }}
                    {{ form.title(class="form-control") }}
                </div>
                <div class="mb-3">
                    <!--<label for="description" class="form-lable">Desription</label>
                    <textarea id="description" maxlength="500" name="description"  class="form-control" rows="4"></textarea>-->
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                </div>
                <div class="mb-3">
                    <!--<label for="date" class="form-lable">Date and time</label>
                    <input type="datetime-local" id="date" name="title" required class="form-control">-->
                    {{ form.date.label(class="form-label") }}
                    {{ form.date(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="{{ url_for('app.index') }}" class="btn btn-secondary">Back</a>
            </form>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
